<section>
  <h2>${heading}</h2>
  ${meta_html}
  <div class="json-view" id="${section_id}"></div>
  <script>
    (function() {
      var data = ${body_json};
      renderJsonTable('${section_id}', data);
    })();
  </script>
</section>
